* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;


    --bg-color: #030104;
    --bg-color-up1: #0b090c;
    --text-color: #fdfbfe;
    --primary-color: #c39ae0;
    --secondary-color: #1f0d2b;
    --accent-color: #8d40c4;

    background-color: var(--bg-color);

}

.App {
    width: 800px;
    min-height: 100vh;
}

.joke {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;

    font-size: 1.3rem;

    color: var(--text-color);
    background-color: var(--bg-color-up1);
}

.joke__btns__like {
    color: var(--text-color);
    font-weight: 600;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    background-color: var(--bg-color-up1);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.joke__btns__like:hover {
    border-color: var(--primary-color);
}